@use '../variables' as *;
@use '../mixins' as *;


.bg-img {
    position: absolute;
    grid-column: 1/4;
    z-index: -1;
    height: 800px;
    width: 100vw;

    opacity: .625;

    @media (max-width:1140px) {
        grid-column: 1/2;
        height: 640px;
    }
}